@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background:gray;
}

:root{
  --text-950:#0E121B;
  --text-800:#232530;
  --tag_edited_date: #2B303B;
  --text-700:#2B303B;
  --text-600:#525866;
  --text-500:#717784;
  --text-400:#99A0AE;
  --background: #E0E4EA;
  --auth-page:#F3F5F8;
  --global-bak:#FFFFFF;
  --input-bg:#F3F5F8;
  --text-200:#E0E4EA;
  --text-300:#CACFD8;
  --borders:#E0E4EA;
}

[data-theme='dark'] {
  --text-950:#FFFFFF;
  --text-800:#F3F5F8;
  --text-700:#E0E4EA;
  --text-600:#CACFD8;
  --input-bg:#CACFD8;
  --text-200:#525866;
  --tag_edited_date:#CACFD8;
  --text-500:#717784;
  --text-400:#99A0AE;
  --background: #232530;
  --auth-page:#2B303B;
  --borders:#232530;
  --global-bak:black;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style:auto;
  scrollbar-width: none;
}
